# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

{
        email stelian.morariu@gmail.com
}

*.local.morariu.app {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.1
    }

    # Reverse proxies

    @udm host udm.local.morariu.app
    handle @udm {
        reverse_proxy https://192.168.10.1 {
            transport http {
                # ignore UDM self signed certificate
                tls_insecure_skip_verify
            }
        }
    }

    @nas host nas.local.morariu.app
    handle @nas {
        reverse_proxy https://192.168.100.52:666 {
            transport http {
                # ignore Synology self signed certificate
                tls_insecure_skip_verify
            }
        }
    }

    @pve host pve.local.morariu.app
    handle @pve {
        reverse_proxy https://192.168.100.60:8006 {
            transport http {
                # ignore Proxmox self signed certificate
                tls_insecure_skip_verify
            }
        }    
    }
    
    @portainer host portainer.local.morariu.app
    handle @portainer {
        reverse_proxy https://192.168.100.110:9443 {
            transport http {
                # ignore Portainer self signed certificate
                tls_insecure_skip_verify
            }
        }
    }

    @plex host plex.local.morariu.app
    handle @plex {
        reverse_proxy http://192.168.100.120:32400
    }

    @qbit host qbit.local.morariu.app
    handle @qbit {
        reverse_proxy http://192.168.100.121:8090
    }

    @radarr host radarr.local.morariu.app
    handle @radarr {
        reverse_proxy http://192.168.100.122:7878
    }

    @sonarr host sonarr.local.morariu.app
    handle @sonarr {
        reverse_proxy http://192.168.100.123:8989
    }

    @prowlarr host prowlarr.local.morariu.app
    handle @prowlarr {
        reverse_proxy http://192.168.100.124:9696
    }

    @seer host seer.local.morariu.app
    handle @seer {
        reverse_proxy http://192.168.100.110:5055
    }

    @homepage host homepage.local.morariu.app
    handle @homepage {
        reverse_proxy http://192.168.100.175:3000
    }

    # drop everything that doesn't match the domain
    handle {
        abort
    }
    
}